{{#each findUsers}}
  <article id='medewerkerslijst'>
    <div>
      <div class='medewerkerslijst__name'>
        <img src={{meta.avatar}} alt="avatar 'naam'" />
        <p class='list__names'>{{meta.firstname}} {{meta.lastname}}</p>
      </div>
      <p>{{email}}</p>
      <p>{{meta.GSM}}</p>
      <form id='rol-{{id}}' method='get'>
        <select data-id='{{id}}' name='rol' required='required' id='rol-{{id}}'>
          <option value='2'>Medische directeur</option>
          <option value='3'>Ploegleiders</option>
          <option value='4'>Deskundige</option>
          <option value='5'>Functionele directeur</option>
        </select>
      </form>
    </div>
  </article>
{{/each}}

<script>
  const secretToken = "nobodynknows";
</script>