 <div class="input-container">
  <label for="{{name}}" class="Login__label">{{label}}</label>
  <input type="{{type}}" name="{{name}}" value="{{ value }}" placeholder="{{placeholder}}" class="Login__input">
  {{#if error}}
    <div class="error">{{error}}</div>
  {{/if}}
</div>

